<!DOCTYPE html>
<html>
    <header>
        <title>Login</title>
    </header>
    <body>
        <h1>Welcome to gallery</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul style="color:blue;">
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="/login" method="POST">
            <label for="userName">User Name</label>
            <input type="text" name="userName">
            <label for="password">Password</label>
            <input type="password" name ="password">
            <button type="submit">Login</button>
        </form>
        <span>Don't have an account yet? <a href="/register">Register</a></span>
    </body>
</html>